{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>

      <h2 class="govuk-heading-m">Personal details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Location
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['location'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/board">
              Change
              <span class="govuk-visually-hidden"> title</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Category
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['category'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/category">
              Change
              <span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Title
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['title'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/title">
              Change
              <span class="govuk-visually-hidden"> title</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Description
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['description'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/description">
              Change
              <span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Price
          </dt>
          <dd class="govuk-summary-list__value">
            £{{ data['price'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="/price">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
      </dl>

      <form action="/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Post item for sale
        </button>

      </form>

    </div>
  </div>
{% endblock %}
