{% extends "layout.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="check-answers" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
        id: "cost",
        name: "cost",
        label: {
        text: "What is the cost for the item, in British pounds?",
        classes: "govuk-label--l",
        isPageHeading: true
        },
        prefix: {
        text: "£"
        },
        classes: "govuk-input--width-5",
        spellcheck: false
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
